*,*::after,*::before{
  box-sizing: border-box;
  text-transform: capitalize;
}
* {box-sizing: border-box}

/* Full-width input fields */
  .signUp 
  input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

.signUp 
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.namefullname
{
display: flex;
justify-content: space-between;
}
.input-group
{
  flex: 1;
  margin-right: 5px;
}

.signUp hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signUp button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signUp button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.signUp .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signUp .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signUp .container {
  padding: 16px;
}

/* Clear floats */
.signUp .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}