*,*::after,*::before{
    box-sizing: border-box;
    text-transform: capitalize;
}
* {box-sizing: border-box}

.landingPage
{
margin: 0%;
padding: 0%;
/* background-color: #1877f2; */

}
.landingPage .main {
    display: flex;
    /* justify-content:space-around; */
    /* flex-direction:row; */
    /* height: 100vh; */
    min-height: 100vh;
    padding: 50px;
    align-items: center;
    
    
}
.landingPage .text-pet 
{
    font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    color: black;
    padding: 50px;
    
}


.landingPage .rightside
{
display:inline-block;
width: 70%;
}

.setloginsignup .SignUp-pet-words{

    font-size: 5px;
}