.sidenav
{
    height: 850px;
    width: 160px; /* Adjust the width of your sidebar as needed */
    background-color:#a7a8a4; /* Sidebar background color */
    display: flex;
    flex-direction: column;
}
.sidenavitems
{
    height: 100vh;
    width: 130px; /* Adjust the width of your sidebar as needed */
    /* background-color: hsl(241, 46%, 77%); Sidebar background color */
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.sidenavitems button 
{
    flex: 1;
    /* width: 100%; Equal width for all buttons */
    height:200px; 
    background-color: #b9bebd; /* Button background color */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.sidebar-button:hover {
    background-color: #777; /* Button background color on hover */
}