.sidenav
{
    /* display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 13%;
    /* border-right: 2px solid black; */
    height: 100vh;
    width: 160px; /* Adjust the width of your sidebar as needed */
    background-color: #333; /* Sidebar background color */
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    /* padding: 8px;  */
    /* box-shadow: 5px 0px #535151; */
    /* background-color: rgb(239, 239, 253); */
    /* height: 100vh; */
}
.sidenavitems
{
    height: 100vh;
    width: 140px; /* Adjust the width of your sidebar as needed */
    background-color: #333; /* Sidebar background color */
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.sidenavitems button 
{
    flex: 1;
    width: 100%; /* Equal width for all buttons */
    height:20%; /* Equal height for all buttons */
    /* border: none; */
    background-color: #555; /* Button background color */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.sidebar-button:hover {
    background-color: #777; /* Button background color on hover */
}